@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
  margin: 0;
  min-width: 1200px;
}

.container {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  background-color: #ffffff;
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 0 15px rgba(0 0 0 / 20%);
}

.main-header {
  padding-left: 238px;
  position: relative;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  min-height: 36px;
  border-radius: 4px;
  border: 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
}

.wish-button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 34px 8px 34px;
  margin-right: 70px;
  border: none;
  border-radius: 4px;
}

.button-light {
  color: #242424;
  background-color: #ffffff;
}

.page-header {
  color: #000000;
}

/* Nav */

.navigation {
  display: flex;
  text-decoration: none;
  color: inherit;
  align-items: center;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  list-style-type: none;
  max-width: 338px;
}

.navigation-user {
  margin-left: auto;
  margin-right: 20px;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  color: #000000;
}

.navigation-link.active::before {
  content: "";
  display: block;
  width: calc(100% - 32px);
  height: 2px;
  background-color: #756257;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.navigation-list .navigation-user {
  min-width: 16px;
  min-height: 22px;
}

.button-navigation {
  width: 160px;
}

.secondary-navigation-search {
  width: 44px;
  height: 64px;
  display: block;
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.secondary-navigation-hearth {
  width: 44px;
  height: 64px;
  display: block;
  position: relative;
  background-image: url(../images/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.notification-badge {
  font-size: 10px;
  position: absolute;
  right: 4px;
  background-color: #7DB54F;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  color: #FFFFFF;
  text-align: center;
  top: 11px;
  display: block;
}

.hero {
  background-image: url("../images/icon-zigzag.svg"), url("../images/background.jpg");
  background-size: 100% auto, 100% auto;
  background-position: left 0 bottom 0;
  background-color: #F2F2F2;
  height: 485px;
  background-repeat: no-repeat, no-repeat;
  text-align: center;
  padding: 52px 60px 60px 60px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

.logo {
  display: block;
  position: absolute;
  top: 0;
  left: 70px;
}

/* advantages */

.advantages {
  padding-top: 69px;
}

.advantages-big-title,
.services-big-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 22px;
  padding: 0 140px;
}

.advantages-big-title {
  margin-top: 0;
  margin-bottom: 25px;
}

.texture {
  margin-bottom: 90px;
}

.advantages-grid {
  padding: 102px 85px;
}

.advantages-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 100%;
  flex-wrap: wrap;
  text-align: center;
  margin: 0;
}

.advantages-title,
.services-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-title {
  margin-top: 0;
  margin-bottom: 62px;
  padding: 0 27px 0 25px;
  position: relative;
}

.subject {
  margin-bottom: 90px;
}

.services-subject {
  margin-bottom: 64px;
}

.advantages-item-blue .advantages-title::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%);
}

.advantages-description,
.services-description {
  margin: 0;
}

.advantages-description-small,
.services-description-small {
  color: #333333;
  margin-bottom: 0;
}

.advantages-text,
.services-text {
  color: #333333;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  padding: 0 140px;
  margin-top: 0;
}

.advantages-item {
  text-align: center;
  display: flex;
  min-height: 385px;
}

.advantages-item-light {
  padding: 112px 85px;
  width: 400px;
  min-height: 385px;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-road {
  padding: 112px 85px;
  width: 400px;
  min-height: 385px;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-description-small {
  margin: 0;
}

.advantages-item-blue {
  display: flex;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages-description-blue {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

/* Services*/

.services {
  padding-top: 64px;
}

.services-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 100%;
  flex-wrap: wrap;
  margin: 0;
}

.services-icon {
  position: absolute;
  top: 79px;
  left: 50%;
  transform: translateX(-50%);
}

.services-title {
  margin-top: 0;
  margin-bottom: 30px;
}

.titles {
  margin-top: 0;
}

.services-item-housing,
.services-item-souvenirs {
  background-color: rgba(131, 179, 211, 0.2);
}

.services-item-food {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item {
  padding: 81px 85px 81px 85px;
  color: #000000;
  width: 400px;
  min-height: 385px;
  position: relative;
  padding-top: 183px;
  text-align: center;
}

.services-interested {
  padding: 94px 304px 96px 304px;
}

.services-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  padding: 8px 50px 8px 50px;
  border: none;
  text-transform: uppercase;
  border-radius: 4px;
  margin-bottom: 0;
}

.services-titles {
  margin-top: 0;
}

.services-desc {
  margin-bottom: 54px;
  padding: 0 6px;
}

/* footer */

.page-footer {
  color: #ffffff;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.page-footer-text {
  margin-bottom: 54px;
  margin-top: 0;
  padding: 0 10px;
}

.catalog-button {
  padding: 8px 50px 8px 50px;
}

.newsletter {
  min-height: 415px;
  padding-left: 258px;
  padding-top: 96px;
  padding-right: 258px;
  padding-bottom: 104px;
  background-color: #FFFFFF;
}

.newsletter-background {
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #82B3D3;
}

.page-footer a {
  color: #000000;
}

.page-footer-big-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0 120px;
  margin-top: 0;
  margin-bottom: 19px;
}

.newsletter-form {
  display: flex;
}

.field {
  width: 452px;
  min-height: 52px;
  border: 0;
  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding-left: 20px;
}

.field::placeholder {
  color: #000000;
  opacity: 0.6;
}

.footer-button {
  border-radius: 0 4px 4px 0;
  width: 232px;
  min-height: 52px;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  left: 66px;
  right: 0;
}

.footer-contacts-address {
  font-style: normal;
}

.footer-contacts-address-phone {
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.footer-contacts-address-phone:hover {
  color: #756157;
}

.footer-contacts-address-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-contacts-map-link {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: underline;
  text-transform: uppercase;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 1px;
  margin-top: 0;
  width: 141px;
}

.footer-site {
  display: flex;
  justify-content: space-between;
  padding: 44px 70px 30px 70px;
  align-items: center;
}

.footer-social-link {
  width: 47px;
  height: 40px;
  display: inline-block;
  position: relative;
  color: #82B3D3;
}

.social-icon {
  list-style-type: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
  position: absolute;
}

.footer-contacts-address-phone {
  padding: 0 12px 2px 12px;
  margin-left: 2px;
}

.footer-social-link:hover path {
  fill: #68A2CA;
}

.footer-social-link:active path {
  fill: #68A2CA;
  fill-opacity: 0.3;
}

.htmlacademy-link:hover path {
  fill: #756157;
}

.htmlacademy-link:active path {
  fill: rgba(117, 97, 87, 0.3);
}

/* catalog - filter */

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 8px;
}

.inner-header {
  background-color: #82B3D3;
  background-image: url("../images/catalog/filter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 35px 70px 38px;
}

/* catalog - product  */

.main-inner {
  padding-bottom: 40px;
}

.product-catalog {
  display: flex;
  padding: 50px 70px 40px 70px;
}

.hotels-fond {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  align-self: center;
}

.select {
  position: relative;
}

.select-control {
  width: 292px;
  height: 49px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin-left: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../images/catalog/arroww.svg);
  background-repeat: no-repeat;
  margin-right: 63px;
  border: 2px solid #E5E5E5;
  padding: 0 40px 0 20px;
  background-position: right 18px top 19px;
  font-family: inherit;
  color: #333333;
  background-color: #FFFFFF;
}

.select-control:hover {
  border: 2px solid #68A2CA;
}

.select-control:active {
  border: 2px solid #3F5E72;
}

.select-control:disabled {
  color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.control-label:hover {
  opacity: 0.6;
}

.control-label:active {
  opacity: 0.3;
}

.sorting-icon {
  list-style-type: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
  position: absolute;
}

.view-light {
  width: 48px;
  height: 48px;
  display: block;
  position: relative;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  margin-left: 8px;
}

.view-light:hover {
  border: 2px solid #000000;
}

.view-light.active {
  border: 2px solid #000000;
}

.button-catalog-more,
.button-catalog-to-favorites,
.button-catalog-in-favorites {
  margin-bottom: 16px;
  width: 140px;
}

.button-catalog-more {
  padding: 8px 26px 8px 26px;
  background-color: #756157;
}

.button-catalog-to-favorites {
  padding: 8px 20px 8px 20px;
  background-color: #82B3D3;
}

.button-catalog-in-favorites {
  padding: 8px 18px 8px 18px;
  background-color: #7DB54F;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-right: 70px;
  margin-bottom: 40px;
  padding-left: 0;
  margin-top: 0;
}

.element-style {
  display: flex;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-item:last-child::before {
  display: none;
}

.breadcrumbs-item {
  position: relative;
  padding-right: 28px;
  margin-right: 0;
  margin-left: 0;
}

.breadcrumbs-item::before {
  content: "";
  display: block;
  width: 9px;
  height: 20px;
  background-image: url(../images/catalog/arrowww.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 0;
  padding-left: 18px;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 32px;
  padding: 0;
}

.catalog-filter-item {
  list-style-type: none;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  margin-bottom: 16px;
}

.catalog-filter-list {
  padding: 0;
  margin: 0;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  border: 0;
  margin-right: 0;
  padding-right: 71px;
}

.catalog-filter-group-type {
  margin: 0;
  padding: 0;
  border: 0;
  width: 150px;
  margin-right: 140px;
}

.catalog-filter-grup-price {
  margin: 0;
  padding: 0;
  border: 0;
  width: 288px;
  margin-right: 70px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: space-between;
  width: 288px;
}

.catalog-filter-label {
  position: relative;
}

.catalog-filter-label-text {
  position: absolute;
  color: rgba(0, 0, 0, 0.3);
  text-transform: lowercase;
  line-height: 24px;
  right: 20px;
  top: 12px;
}

.conteol-input-min,
.conteol-input-max {
  width: 143px;
  height: 48px;
  border: 0;
  background-color: #F2F2F2;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding-left: 20px;
  padding-right: 45px;
  font-family: "PT Sans", sans-serif;
}

.conteol {
  border: 0;
  margin: 0;
  padding: 0 67px 0 78px;
}

.conteol-input-min {
  border-radius: 4px 0 0 4px;
}

.conteol-input-max {
  border-radius: 0 4px 4px 0;
}

.conteol-input {
  width: 287px;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-top: 44px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0 14px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  border: 2px solid #8383D3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.conteol-input-min:hover {
  background: #E6E6E6;
}

.conteol-input-max:hover {
  background: #E6E6E6;
}

.filter-button-wrapper {
  padding: 0;
  width: 191px;
  margin-top: 56px;
  margin-left: auto;
}

.button-filter {
  background-color: #82B3D3;
  min-width: 191px;
  margin-bottom: 32px;
}

.button-filter-reset {
  background-color: transparent;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.hotel {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  width: 1060px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #E6E6E6;
}

.hotel-card-item {
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding: 20px;
  width: 340px;
}

.hotel-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotel-rate {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.hotel-title {
  margin-bottom: 17px;
  margin-top: 10px;
  width: 100%;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.hotel-card-price,
.hotel-card-type {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin-bottom: 16px;
  margin-top: 0;
}

.hotel-rate-text {
  background-color: #F2F2F2;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  padding: 9px 22px 8px 23px;
  border-radius: 4px;
}

.hotel-card-price {
  text-align: right;
}

.hotel-stars {
  width: 42px;
  height: 18px;
  background-image: url(../images/catalog/star.svg);
  background-repeat: space;
}

.hotel-stars-four {
  width: 89px;
}

.hotel-stars-three {
  width: 66px;
}

.hotel-stars-two {
  width: 42px;
}

/* pagination */

.pagination {
  padding: 0 70px;
  display: flex;
  list-style: none;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
  min-height: 60px;
  min-width: 60px;
  background-color: #82B3D3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  padding-top: 9px;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-link-hidden {
  color: #000000;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  padding-top: 12px;
}

/* footer */

.catalog-footer {
  color: #000000;
  background-color: #ffffff;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.catalog-footer-description {
  color: #333333;
  padding: 0 40px;
  margin-top: 0;
  margin-bottom: 55px;
  margin-left: 2px;
}

.catalog-footer a {
  color: #000000;
}

.catalog-footer-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  padding: 0 120px;
  margin: 0;
  margin-bottom: 20px;
}

.blue-button {
  background-color: #82B3D3;
}

.blue-button:hover {
  background-color: #68A2CA;
}

.blue-button:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.blue-button:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.brown-button {
  background-color: #756157;
}

.brown-button:hover {
  background-color: #615048;
}

.brown-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.brown-button:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.green-button {
  background-color: #7DB54F;
}

.green-button:hover {
  background-color: #6C9E42;
}

.green-button:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.green-button:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.transparent-button {
  background-color: transparent;
}

.transparent-button:hover {
  opacity: 0.6;
}

.transparent-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.transparent-button:disabled {
  color: #FFFFFF;
}

.control:hover .control-mark {
  opacity: 0.6;
}

.control-input:disabled + .control-mark {
  opacity: 0.3;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 4px;
}

.control-input[type="radio"]:focus + .control-mark {
  outline: 3px solid #83B3D3;
  border-radius: 17px;
}

.control-input[type="checkbox"]:focus + .control-mark {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background: #3F5E72;
  border-radius: 50%;
  content: "";
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  background-image: url("../images/catalog/checkmark.svg");
  position: absolute;
  background-repeat: no-repeat;
  background-position: left 4px top 5px;
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-auth {
  width: 717px;
  height: 576px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  left: 613px;
  width: 52px;
  height: 52px;
  background-color: #F2F2F2;
  border: none;
  background-image: url("../images/modal-window/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border-radius: 50%;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:active {
  opacity: 0.3;
  background-color: #E6E6E6;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-family: inherit;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.auth-form .field {
  width: 440px;
  height: 48px;
}

.auth-form .adults {
  width: 110px;
  height: 48px;
  background: #F2F2F2;
  border-radius: 4px;
}

.children {
  width: 110px;
  height: 48px;
  background: #F2F2F2;
  border-radius: 4px;
}

.auth-form-button {
  font-family: "PT Sans", sans-serif;
  top: 288px;
  height: 60px;
  width: 577px;
  padding: 18px 77px;
  border: none;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border-radius: 10px;
  text-transform: uppercase;
}

.field-group {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}

.field-wrapper-big {
  width: 440px;
  position: relative;
}

.data-field {
  width: 137px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-transform: capitalize;
}

.form-label {
  font-size: 20px;
  line-height: 36px;
  width: 131px;
  color: #000000;
  position: relative;
  display: flex;
  align-items: center;
}

.adult-children {
  width: auto;
  margin-right: 10px;
}

.button-date {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 14px;
  left: 400px;
  border: none;
  background-image: url(../images/modal-window/calendar.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 0.3;
}

.text-form-error {
  position: absolute;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FF5757;
  left: 20px;
  bottom: -25px;
}

.text-form-warning {
  position: absolute;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  left: 20px;
  bottom: -25px;
}

.field-calendar {
  width: 440px;
  height: 48px;
  padding-right: 50px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background: #F2F2F2;
  border-radius: 4px;
  border: 2px solid transparent;
  padding-left: 20px;
}

.field-calendar:hover {
  background: #E6E6E6;
}

.field-calendar:active {
  color: #000000;
}

.field-group-wrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.field-wrapper {
  width: 110px;
  height: 48px;
  background: #F2F2F2;
  border-radius: 4px;
  padding: 0;
  border: none;
  position: relative;
  text-align: center;
}

.auth-form-field {
  width: 31px;
  height: 48px;
  border: 0;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  background: transparent;
}

.signs {
  position: absolute;
  background: transparent;
  width: 20px;
  height: 20px;
  top: 14px;
  border: 0;
  color: #756157;
  opacity: 0.3;
  padding: 0;
}

.signs:hover {
  color: #000000;
  opacity: 1;
}

.signs:active {
  opacity: 0.2;
}

.plus {
  right: 10px;
  top: 14px;
}

.minus {
  left: 10px;
  top: 14px;
}

.plus svg {
  position: absolute;
  top: 2px;
  left: 1px;
}

.minus svg {
  position: absolute;
  top: 8px;
  left: 1px;
}

.tooltip {
  position: relative;
}

.tooltip-toggle {
  border: none;
  background-color: #83B3D3;
  padding: 0;
  margin: 0;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.tooltip-icon {
  width: 100%;
  color: #FFFFFF;
  display: block;
}

.tooltip-text {
  background-color: #333333;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  padding: 15px 18px 18px 22px;
  width: 256px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  margin-top: 15px;
  display: none;
}

.tooltip-text:after {
  content: "";
  background-image: url("../images/modal-window/triangle.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.range input[type="number"],
.range input[type="number"]:hover,
.range input[type="number"]:focus,
.modal input[type="number"],
.modal input[type="number"]:hover,
.modal input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.modal-container-close {
  display: none;
}
